//compress:true

@dark_blue: #50667B;
@light_blue: #F4F5FA;
@footer_blue: #E1E6EB;
@red: #F44F2B;
@widh_media: 1024px;

.wraper {
    max-width: 1500px;
    margin: 100px auto;
    margin-top: 50px;
    font-size: 1.2em;
}

.ov {
    display: flex;
    flex-direction: row;
}

button {
    padding: 10px;
    background: @light_blue;
    border: unset;

    &:hover {
        background-color: darken(@light_blue, 5%);
    }
}

.zag {
    color: @dark_blue;
    font-size: 1.7em;
}

.logo_cr {
    margin: 50px;

    @media screen and (max-width:800px) {
        display: none;
    }
}

.sp1,
.cs1,
.lo1,
.sp2,
.cs2,
.lo2 {
    margin: 10px 0;
}

.sp1,
.cs1,
.lo1 {
    color: @dark_blue;
    font-size: 1.2em;
}

.text_ov {
    margin-top: 50px;
    @media screen and (max-width:800px) {
        padding-left: 15px;
    }
}

.text {
    text-indent: 50px;
    line-height: 150%;
    text-align: justify;
    margin-bottom: 50px;
    padding: 15px;
}