//compress:false

@dark_blue: #50667B;
@light_blue: #F4F5FA;
@footer_blue: #E1E6EB;
@red: #F44F2B;
@widh_media: 1024px;

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 1.1em;
    background-color: @light_blue;
}

a {
    color: @dark_blue;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

form {
    padding: 50px;
    border: 1px solid #e3e3e3;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

input:not(.radio_bb) {
    box-shadow: inset 0 0 0 50px white !important;
}

.radio_b {
    display: flex;

    &>label {
        padding: 5px;
    }
}

button {
    padding: 10px;
    background: @light_blue;
    border: unset;

    &:hover {
        background-color: darken(@light_blue, 5%);
    }
}

.msg {
    color: @red;
}

body>a>.back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: rgba(80, 102, 123, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    &>#o{
        @media screen and (max-width:500px) {
            display: none;
        }
    }
    &>#d{
        display: none;
        @media screen and (max-width:500px) {
            display: inline;
        }
    }
    &:hover{
        background-color: rgba(80, 102, 123, 0.3);
        transition: 0.3s;
    }
    @media screen and (max-width:500px) {
        height: 50px;
    }
}