body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 1.1em;
  background-color: #F4F5FA;
}
a {
  color: #50667B;
  font-weight: bold;
  text-decoration: none;
}
p {
  margin: 10px 0;
}
form {
  padding: 50px;
  border: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: white;
}
input {
  margin: 10px 0;
  padding: 10px;
  border: unset;
  border-bottom: 2px solid #e3e3e3;
  outline: none;
}
.radio_b {
  display: flex;
}
.radio_b > label {
  padding: 5px;
}
button {
  padding: 10px;
  background: #F4F5FA;
  border: unset;
}
button:hover {
  background-color: #e2e5f2;
}
.msg {
  border: 2px solid #ffa908;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.logout {
  color: #b7625c;
}
