@dark_blue: #50667B;
@light_blue: #F4F5FA;
@red: #F44F2B;

body {
    font-family: Roboto;
}

header {
    background-color: @light_blue;
    color: @dark_blue;
    height: 80px;
    width: 100vw;
}

.wraper {
    max-width: 1500px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo {
        padding: 0 1rem;
        @media(max-width: 1000px) {
            padding: 0;
        }
    }

    & .logo img {
        @media(max-width: 1000px) {
            width: 0;
        }
        width: 10rem;
    }
}

.header_nav ,
.header_form{
    display: flex;
    align-items: center;   
}

.log_btn {
    color: @red;
    background-color: white;
    border: none;
    width: 90px;
    height: 38px;
    font-weight: normal;
    font-size: 1.2em;
    border-radius: 3px;

    margin: 0 0.5rem 0;
    padding: 0;
}

.header_list {

    font-weight: 500;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    & .list_item {
        white-space: pre;
        margin: 0 .5rem;
    }
    & a:link,
    & a:visited {
        color: @dark_blue;
    }

    & a {
        transition: border-bottom .1s;
    }

    & a:hover,
    & a:focus {
        border-bottom: 2px solid fade(@dark_blue, 80%);
        font-size: 1.07em;
        transition: border-bottom .1s;
    }
}