body {
  font-family: Roboto;
}
header {
  background-color: #F4F5FA;
  color: #50667B;
  height: 100px;
  width: 100%;
}
.wraper {
  max-width: 85rem;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wraper a img {
  width: 12rem;
}
@media (max-width: 1000px) {
  .wraper a img {
    width: 0;
  }
}
.log_btn {
  color: #F44F2B;
  background-color: white;
  border: none;
  width: 96px;
  height: 40px;
  font-weight: normal;
  font-size: 1.2em;
  border-radius: 3px;
  margin-right: 1rem;
  padding: 0;
}
.header_nav {
  display: flex;
  align-items: center;
}
.header_list {
  display: flex;
  font-weight: 500;
  font-size: 2em;
}
.header_list .list_item {
  margin-right: 1rem;
}
a:link,
a:visited {
  color: #50667B;
}
a {
  transition: color 0.3s;
}
a:hover {
  color: #F44F2B;
  transition: color 0.3s;
}
