body {
  font-family: Roboto;
}
header {
  background-color: #F4F5FA;
  color: #50667B;
  height: 80px;
  width: 100vw;
}
.wraper {
  max-width: 1500px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wraper .logo {
  padding: 0 1rem;
}
@media (max-width: 1000px) {
  .wraper .logo {
    padding: 0;
  }
}
.wraper .logo img {
  width: 10rem;
}
@media (max-width: 1000px) {
  .wraper .logo img {
    width: 0;
  }
}
.header_nav,
.header_form {
  display: flex;
  align-items: center;
}
.log_btn {
  color: #F44F2B;
  background-color: white;
  border: none;
  width: 90px;
  height: 38px;
  font-weight: normal;
  font-size: 1.2em;
  border-radius: 3px;
  margin-right: 0.5rem;
  padding: 0;
}
.log_btn:hover {
  background-color: #e2e5f2 !important;
}
.header_list {
  font-weight: 500;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
.header_list .list_item {
  white-space: pre;
  margin: 0 0.5rem;
}
.header_list a:link,
.header_list a:visited {
  color: #50667B;
}
.header_list a {
  transition: border-bottom 0.5s;
}
.header_list a:hover,
.header_list a:focus {
  border-bottom: 2px solid #46596c;
  color: #46596c;
  transition: border-bottom, color 0.5s;
}
/*оставь надежду всяк сюда входящий*/
/*обнуляем все что только можно*/
form.gsc-search-box * {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: content-box;
}
.gsc-input-box {
  padding: 0 !important;
  border: 1px solid #e2e5f2 !important;
}
div.gsc-control-cse,
form.gsc-search-box,
table.gsc-search-box {
  position: relative;
}
/*добавим надпись на инпуте о том, что это поиск*/
.gsc-input-box::before {
  content: 'Поиск...';
  color: #8399ae;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5em;
}
/*стили для поля запроса*/
td.gsc-input > .gsc-input-box input {
  position: relative;
  background: transparent !important;
  color: #50667B;
  font-size: 1.5em;
  min-height: 38px;
  width: 97% !important;
}
td.gsc-input:hover > .gsc-input-box input {
  color: #50667B;
  margin-left: 0;
}
/*инпут в фокусе при введении запроса*/
td.gsc-input > .gsc-input-box input:focus {
  background-color: white !important;
  color: #50667B;
  width: 98%;
  margin-left: 0;
}
/*кнопка с лупой для отправки запроса*/
td.gsc-search-button > .gsc-search-button-v2,
td.gsc-search-button > .gsc-search-button-v2:focus {
  background-color: white !important;
  display: block;
  background-position: 50% 50%;
  padding: 0 !important;
  height: 38px;
  min-width: 38px;
  width: 38px;
  border-radius: 3px;
}
td.gsc-search-button > .gsc-search-button-v2:hover {
  background-color: #e2e5f2 !important;
}
.gsc-search-button-v2 > svg {
  transform: scale(1.2);
}
/*скрываем все лишнее*/
.gsc-branding,
.gcsc-branding,
td.gsib_b {
  display: none;
}
