@dark_blue: #50667B;
@light_blue: #F4F5FA;
@footer_blue: #E1E6EB;
@red: #F44F2B;
@widh_media: 1024px;

body {
    width: 100%;
    height: 100%;
    font-family: Roboto;
}

header {
    background-color: @light_blue;
    color: @dark_blue;
    height: auto;
    width: 100%;

    & .wraper {
        max-width: 1500px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width:@widh_media) {
            flex-direction: column-reverse;
            margin-bottom: 5.5rem;
        }

        & .header_nav {
            display: flex;
            align-items: center;

            @media screen and (max-width:@widh_media) {
                flex-direction: column;
                align-items: flex-start;
            }

            & .logo {
                padding: 0 1rem;

                @media screen and (max-width:@widh_media) {
                    display: none;
                }

                & img {
                    width: 10rem;
                }
            }

            & .header_list {
                font-weight: 500;
                font-size: 1.5em;
                display: flex;
                align-items: center;

                & .list_item {
                    white-space: pre;
                    margin: 0 .5rem;

                    & a {
                        transition: border-bottom .5s;
                    }

                    & a:link,
                    & a:visited {
                        color: @dark_blue;
                    }

                    & a:hover,
                    & a:focus {
                        border-bottom: 2px solid darken(@dark_blue, 5%);
                        color: darken(@dark_blue, 5%);
                        transition: border-bottom, color .5s;
                    }
                }
            }
        }

        & .header_form {
            display: flex;
            align-items: center;

            & .logo_hiden {
                width: 10rem;
                display: none;

                @media screen and (max-width:@widh_media) {
                    display: inline;
                }

                & img {
                    width: 10rem;
                }
            }

            & .log_btn {
                color: @red;
                background-color: white;
                border: none;
                width: 90px;
                height: 38px;
                font-weight: normal;
                font-size: 1.2em;
                border-radius: 3px;
                margin-right: .5rem;
                padding: 0;
            }

            & .log_btn:hover {
                background-color: darken(@light_blue, 5%);
            }
        }
    }
}

footer {
    background-color: @footer_blue;
    color: @dark_blue;
    height: 150px;
    width: 100%;
    font-size: 1.2em;

    & .wraper {
        max-width: 1500px;
        height: 150px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width:@widh_media) {
            flex-direction: column;
            justify-content: space-around;
        }

        & .copyright,
        & .social {
            padding: .5rem .5rem;
        }

        & .contacts {
            display: flex;
            align-items: center;
            flex-direction: column;

            & p {
                padding: .25rem .5rem;
            }
        }
    }
}

/*оставь надежду всяк сюда входящий

//обнуляем все что только можно
form.gsc-search-box * {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: content-box;
}

.gsc-input-box {
    padding: 0 !important;
    border: 1px solid darken(@light_blue, 5%) !important;
}

div.gsc-control-cse,
form.gsc-search-box,
table.gsc-search-box {
    position: relative;
}

//добавим надпись на инпуте о том, что это поиск
.gsc-input-box::before {
    content: 'Поиск...';
    color: lighten(@dark_blue, 20%);
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5em;
    @media screen and (max-width:@widh_media) {
        content:'';
    }
}

//стили для поля запроса
td.gsc-input>.gsc-input-box input {
    position: relative;
    background: transparent !important;
    color: @dark_blue;
    font-size: 1.5em;
    min-height: 38px;
    width: 97% !important;
}

td.gsc-input:hover>.gsc-input-box input {
    color: @dark_blue;
    margin-left: 0;
}

//инпут в фокусе при введении запроса
td.gsc-input>.gsc-input-box input:focus {
    background-color: white !important;
    color: @dark_blue;
    width: 98%;
    margin-left: 0;
}

//кнопка с лупой для отправки запроса
td.gsc-search-button>.gsc-search-button-v2,
td.gsc-search-button>.gsc-search-button-v2:focus {
    background-color: white !important;
    display: block;
    background-position: 50% 50%;
    padding: 0 !important;
    height: 38px;
    min-width: 38px;
    width: 38px;
    border-radius: 3px;
}

td.gsc-search-button>.gsc-search-button-v2:hover {
    background-color: darken(@light_blue, 5%) !important;
}

.gsc-search-button-v2>svg {
    transform: scale(1.2);
}

//скрываем все лишнее
.gsc-branding,
.gcsc-branding,
td.gsib_b {
    display: none;
}*/