body {
  font-family: Roboto;
}
header {
  background-color: #F4F5FA;
  color: #50667B;
  height: 80px;
  width: 100vw;
}
.wraper {
  max-width: 1500px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wraper .logo {
  padding: 0 1rem;
}
@media (max-width: 1000px) {
  .wraper .logo {
    padding: 0;
  }
}
.wraper .logo img {
  width: 10rem;
}
@media (max-width: 1000px) {
  .wraper .logo img {
    width: 0;
  }
}
.header_nav,
.header_form {
  display: flex;
  align-items: center;
}
.log_btn {
  color: #F44F2B;
  background-color: white;
  border: none;
  width: 90px;
  height: 38px;
  font-weight: normal;
  font-size: 1.2em;
  border-radius: 3px;
  margin: 0 0.5rem 0;
  padding: 0;
}
.header_list {
  font-weight: 500;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
.header_list .list_item {
  white-space: pre;
  margin: 0 0.5rem;
}
.header_list a:link,
.header_list a:visited {
  color: #50667B;
}
.header_list a {
  transition: border-bottom 0.1s;
}
.header_list a:hover,
.header_list a:focus {
  border-bottom: 2px solid rgba(80, 102, 123, 0.8);
  font-size: 1.07em;
  transition: border-bottom 0.1s;
}
