//compress:true

@dark_blue: #50667B;
@light_blue: #F4F5FA;
@footer_blue: #E1E6EB;
@red: #F44F2B;
@widh_media: 1024px;

.flex_cont {
    display: flex;
    align-items: center;
}

.colors(@bgc) {
    background-color: @bgc;
    color: @dark_blue;
}

.wraper(@height) {
    max-width: 1500px;
    height: @height;
    margin: 0 auto;
    .flex_cont;
    justify-content: space-between;
}

body {
    width: 100%;
    height: 100%;
    font-family: Roboto;
}

header {
    .colors(@light_blue);
    height: auto;
    width: 100%;
}

.hed_wraper {

    .wraper(80px);

    @media screen and (max-width:@widh_media) {
        flex-direction: column-reverse;

    }
}

.header_nav {
    .flex_cont;

    @media screen and (max-width:@widh_media) {
        flex-direction: column;
        align-items: flex-start;
    }

    &>.logo {
        padding: 0 1rem;

        @media screen and (max-width:@widh_media) {
            display: none;
        }

        & img {
            width: 10rem;
        }
    }

    &>.header_list {
        font-weight: 500;
        font-size: 1.5em;
        .flex_cont;

        &>.list_item {
            white-space: pre;
            margin: 0 .5rem;

            &>a {
                transition: border-bottom .5s;

                &:link,
                &:visited {
                    color: @dark_blue;
                }

                &:hover,
                &:focus {
                    border-bottom: 2px solid darken(@dark_blue, 5%);
                    color: darken(@dark_blue, 5%);
                    transition: border-bottom, color .5s;
                }
            }
        }
    }
}

.header_form {
    .flex_cont;
    justify-content: space-between;
    &>.logo_hiden {
        width: 10rem;
        display: none;

        @media screen and (max-width:@widh_media) {
            display: inline;
        }

        & img {
            width: 10rem;
        }
    }

    & .log_btn {
        color: @red;
        background-color: white;
        border: none;
        width: 90px;
        height: 38px;
        font-weight: normal;
        font-size: 1.2em;
        border-radius: 3px;
        margin-right: .5rem;
        padding: 0;

        :hover {
            background-color: darken(@light_blue, 5%);
        }
    }

    &>.lk_mini {
        .flex_cont;
        
        &>.user {

            &>a:link,
            &>a:visited {
                color: @red;
            }

            .flex_cont;
            margin-right: 10px;
            flex-direction: column;
            align-items: flex-end;

            &>.n {
                font-size: 1.3em;
            }
            &>.v {
                color: darken(@red,100%);
                font-size: 0.9em;
            }
        }
    }
}

footer {
    .colors(@footer_blue);
    height: 150px;
    width: 100%;
    font-size: 1.2em;
}

.foot_wraper {
    .wraper(150px);

    @media screen and (max-width:@widh_media) {
        flex-direction: column;
        justify-content: space-around;
    }

    &>.copyright,
    &>.social {
        padding: .5rem .5rem;
    }

    &>.contacts {
        display: flex;
        align-items: center;
        flex-direction: column;

        &>p {
            padding: .25rem .5rem;
        }
    }
}