//обнуляем все что только можно
form.gsc-search-box * {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: content-box;
}

.gsc-input-box {
    padding: 0 !important;
    border: 1px solid darken(@light_blue, 5%) !important;
}

div.gsc-control-cse,
form.gsc-search-box,
table.gsc-search-box {
    position: relative;
}

//добавим надпись на инпуте о том, что это поиск
.gsc-input-box::before {
    content: 'Поиск...';
    color: lighten(@dark_blue, 20%);
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5em;
    @media screen and (max-width:@widh_media) {
        content:'';
    }
}

//стили для поля запроса
td.gsc-input>.gsc-input-box input {
    position: relative;
    background: transparent !important;
    color: @dark_blue;
    font-size: 1.5em;
    min-height: 38px;
    width: 97% !important;
}

td.gsc-input:hover>.gsc-input-box input {
    color: @dark_blue;
    margin-left: 0;
}

//инпут в фокусе при введении запроса
td.gsc-input>.gsc-input-box input:focus {
    background-color: white !important;
    color: @dark_blue;
    width: 98%;
    margin-left: 0;
}

//кнопка с лупой для отправки запроса
td.gsc-search-button>.gsc-search-button-v2,
td.gsc-search-button>.gsc-search-button-v2:focus {
    background-color: white !important;
    display: block;
    background-position: 50% 50%;
    padding: 0 !important;
    height: 38px;
    min-width: 38px;
    width: 38px;
    border-radius: 3px;
}

td.gsc-search-button>.gsc-search-button-v2:hover {
    background-color: darken(@light_blue, 5%) !important;
}

.gsc-search-button-v2>svg {
    transform: scale(1.2);
}

//скрываем все лишнее
.gsc-branding,
.gcsc-branding,
td.gsib_b {
    display: none;
}